.inputField {
    width: 90%;
    margin: auto;
    padding: 14px;
    outline: none;
    border: solid 1px #053180;
}

.inputContainer {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.btn {
    color: #053180;
    text-decoration: none;
    padding: 11px;
    cursor: pointer;
    border: 2px solid #053180;
    opacity: 0.9;
    width: 150px;
    outline: none;
    margin: 0.5em;
}

.btn:hover {
    border: 2px solid #337905;
}

.btn:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.loginForm {
    width: 500px;
    margin: 85px auto;
}

.loginForm legend{
    text-align: center;
    font-weight: bold;
    display: block;
    margin: 20px;
    font-size: 1.3em;
}

.invalid {
    border: 1px solid #680000;
    padding: 5px;
}

.sidebar {
    background-color: #E57373;
    padding: 15px;
}

.sidebar div {
    margin-bottom: 50px;
}

.sidebar a {
    display: block;
    font-size: 1.2em;
    text-decoration: none;
    font-family: sans-serif;
    padding: 10px;
    color: #fdfdfd;
}

.logout {
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar a:hover {
    color: #100f0f;
    text-decoration: #cccccc;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 180px;
        height: 100%;
        padding-top: 30px;
    }
}

.cardBox {
    margin-left: 23%;
    margin-top: 5%;
    padding: 10px;
}

.card:first-child {
    font-weight: bold;
}

.card {
    text-align: left;
}

.card  span{
    padding: 4px;
    border-right: solid 1px #cccccc;
    width: 130px;
    display: inline-block;
}

.mark {
    width: 200px;
    font-weight: bold;
    margin: 20px auto;
}

.markForm legend {
    text-align: center;
    font-weight: normal;
}

.markForm {
    display: block;
    width: 550px;
    margin: auto;
}

